@import 'nib'

body
  border-radius: 5px 5px 5px 5px
  font-family: Lato, Helvetica, Arial, sans-serif
  color: #333
  padding: 0
  margin: 0
  background-image: url('../images/bg.png')

.content
  width: 100%
  max-width: 640px
  margin: 0 auto
  position: relative
  box-shadow:0px 0px 16px rgba(0%,0%,0%,0.7)

img.bg
  width: 100%


// main
#main
  margin-top: 25mm
  .view-home &
    margin-top: 0
.view-home #head
  display: none
