@import 'nib'

#give_push
  .h11
    font-size: 3em
    color: #fff
    text-align: center
    padding-top: 4.5em
  .thing
    position: relative
    width: 100%
    max-width: 640px
    margin: 0 auto
    background: #fff
    .photo
      width: 100%
    .tag
      position: absolute
      left: 0
      top: 0
      background: rgba(100%, 100%, 100%, .75)
      border-radius: 10px
      color: #000
      padding: 4px 10px 2px 20px
      font-size: 12px
    .remove
      position: absolute
      left: 4px
      top: 2px
      width: 14px
      height: 14px
      background-image: url('../images/tagclose.png')
      background-position: center center
      background-size: contain
      background-repeat: no-repeat
  .badge
    color: #aaa
    text-align: center
  .mrleft
    margin-left: 25%
  .map
    position: relative
  .finishtag
    position: absolute
    top: 0
    right: 0
    z-index: 5
    width: 25%
    cursor: pointer
  #updatepic
    width: 640px
    height:640px
    background: #000
    input
      width: 258px
      height: 38px
      margin-top:20%