@import 'nib'

#give_push
  .thing
    width: 90%
    margin: 0 auto
    max-width: 600px
    position: relative
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background: #fff;
    .photo
      width:100%
    .tag
      position: absolute
      left: 0
      top: 0
      width: 60px
      height: 20px
      background: #0F0
  .badge
    color:#aaa
    text-align:center
  .mrleft
    margin-left:25%
  #updatepic
    width:100%
    height:400px
    background:#000
