@import 'nib'

#head
  position: fixed
  left: 0
  top: 0
  z-index: 10
  height: 25mm
  width: 100%
  background-image: url('../images/head_bg.png')
  background-size: contain
  box-shadow:0px 8px 8px rgba(0%,0%,0%,0.7)
  a
    display: block