@import 'nib'

.content
  width: 100%
  margin: 0 auto

#login
  position: relative
  .bg
    width: 100%
  .box
    position: absolute
    left: 0px
    top: 40%
    width: 100%
    input, button
      width: 80%
      max-width: 57mm
      height: 8mm
      border: 0.51mm solid #000
      margin: 0 auto
      display: block
      margin-top: 3mm
      background: none
      clear: both
    button.yahoo
      border: none
      background-image: url('../images/login_btn_yahoo.jpg')
      background-position: center center
      background-size: cover
      background-repeat: no-repeat