@import 'nib'

body
  border-radius: 5px 5px 5px 5px
  font-family: Lato, Helvetica, Arial, sans-serif
  color: #333
  padding: 0
  margin: 0
  background: #F0F1F2
  &.view-template
    background: #C1C1C1

.iframe, iframe
  margin: 0 auto
  width: 210mm
  height: 297mm
  border: 0px

.iframe
  transform: scale(0.5)
  transform-origin: 50% 0
  position: absolute
  left: 50%
  margin-left: -105mm

.btn_blue, .btn_red
  display: block
  width: 108px
  height: 39px
  color: #FFF
  font-size: 80%
  cursor: pointer
  text-decoration: none
  line-height: 37px
  text-align: center

.btn_blue
  background: url('../images/btn_blue.png')
  &:active
    background: url('../images/btn_blue_active.png')
.btn_red
  background: url('../images/btn_red.png')
  &:active
    background: url('../images/btn_red_active.png')

$check_w=36px
$check_h=36px
.checkbox
  background-repeat: no-repeat
  background-size: cover
  background-image: url('../images/checkbox_no.png')
  width: $check_w
  height: $check_h
  display: block
  .hover &
    // border: 4px solid #666
    background-image: url('../images/checkbox_no_hover.png')
  .active &
    // border: 4px solid #0F0
    background-image: url('../images/checkbox_yes.png')
  .active.hover &
    background-image: url('../images/checkbox_yes_hover.png')

$headbar_height=41px
#headbar
  position: fixed
  top: 0px
  left: 0px
  z-index: 8
  height: $headbar_height
  width: 100%
  background: url('../images/header_bg.png')
  .title
    margin: 0 auto
    padding-top: 12px
    color: #FFF
    text-align: center
  .user
    position: absolute
    right: 5px
    top: 7px
    .photo, .name, .more
      background-size: cover
      float: left
      height: 26px
      margin-left: 6px
      line-height: 26px
      color: #FFF
    .photo
      background-image: url('/v3_menu/panel/default_portrait.png')
      width: 26px
      margin-right: 8px
    .more
      background-image: url('../images/user_down.png')
      width: 10px


#login
  height: $h=330px
  width: $w=320px
  margin: 0 auto
  margin-top: 88px
  border-radius: 6px
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5)
  background: linear-gradient(top, #fffffb, #eeedea)
  .logo, .input, .toolbar, .message
    margin: 0px 24px
  .logo
    height: 202px
    width: 140px
    margin: 0 auto
    background-size: contain
    background-image: url('../images/logo.png')
    background-position: center center
    background-repeat: no-repeat
  .input
    margin-bottom: 13px
    width: $w - (24px * 2)
    input
      width: $w - (24px * 2) - 2px
      margin: 0px
  .toolbar
    height: 32px
    button
      cursor: pointer
      float: right
      width: 102px
      height: 32px
      border: none
      background: url('../images/login_btn.png')
      &:active
        background: url('../images/login_btn_active.png')
    .remember
      cursor: pointer
      float: left
      height: 32px
      line-height: 32px
      font-size: 80%
      padding-left: 20px
      background: no-repeat 2px center
      background-image: url('../images/login_checkbox.png')
      &.checked
        background-image: url('../images/login_checkbox_checked.png')
  .message
    width: $w - (24px * 2)
    background: #F95757
    margin: 13px 24px 0px 24px
    text-align: center
    color: #FFF
    font-size: 12px
    padding: 4px 0px
    clear: both
    display: none
  &.failed
    height: $h + 30
    .message
      display: block

$menu_height=43px
#menu
  position: fixed
  top: $headbar_height
  left: 0px
  z-index: 7
  height: $menu_height
  width: 100%
  background: url('../images/menu_bg.png')
  a, .nav, .back
    display: block
    float: left
    margin-left: 5px
    font-size: 80%
    text-decoration: none
    cursor: pointer
    line-height: 26px
    margin-top: (($menu_height - 26px) / 2)
  .nav
    width: 88px
    height: 22px
    line-height: 20px
    color: #686B6F
    margin-top: (($menu_height - 24px) / 2)
    background: url('../images/nav.png')
    text-align: center
    &.active
      color: #FFF
      background: url('../images/nav_active.png')
  .back
    width: 47px
    height: 29px
    margin-top: (($menu_height - 29px) / 2)
    line-height: 27px
    background: url('../images/back.png')
    text-align: right
    span
      margin-right: 6px
    &.active
      color: #FFF
      background: url('../images/back_active.png')
  .toolbar-toggle
    width: 27px
    height: 24px
    position: absolute
    right: 5px
    top: (($menu_height - 24px) / 2)
    background: url('../images/toolbar_toggle.png')
    &.checked
      background: url('../images/toolbar_toggle_checked.png')
  .zoom
    width: $w = 200px
    height: $h = 20px
    position: absolute
    right: 56px
    top: (($menu_height - $h) / 2)
    .zoom-min, .zoom-max, .zoom-left, .zoom-right, .zoom-meso, .zoom-btn
      margin: 0px
      position: absolute
    .zoom-left, .zoom-right, .zoom-meso
      width: 10px
      height: 6px
      top: (($h - 6) / 2) + 1
    .zoom-max
      width: 11px
      height: 11px
      background-image: url('../images/zoom_max.png')
      right: 0px
      top: (($h - 11) / 2)
    .zoom-min
      width: 7px
      height: 7px
      background-image: url('../images/zoom_min.png')
      left: 0px
      top: (($h - 7) / 2)
    .zoom-left
      background-image: url('../images/zoom_left.png')
      left: 11px + 8px
    .zoom-right
      background-image: url('../images/zoom_right.png')
      right: 11px + 8px
    .zoom-meso
      background-image: url('../images/zoom_meso.png')
      left: 11px + 8px + 3px
      width: $w - (11px + 8px + 3px) * 2
    .zoom-btn
      background-image: url('../images/zoom_btn.png')
      position: absolute
      width: 17px
      height: 17px
      left: 50%
      margin-left: -8.5px
      margin-top: -8.5px + 3px

$toolbar_width=202px
#toolbar
  height: 100%
  width: $toolbar_width
  position: fixed
  top: $headbar_height + $menu_height
  right: 0px
  z-index: 6
  transition: right 0.5s
  background: #D8D8D8
  .hide-toolbar &
    right: - $toolbar_width
  .selected
    overflow: hidden
    margin: 0 auto
    $size=80px
    width: $size * 2 + 10px
    height: $size * 3 + 40px
    position: relative
    .fixed, .preview
      width: $size * 2 + 10px
      position: absolute
    .item
      width: $size
      height: $size
      margin-top: 10px
      background: url('../images/selected_icon.png')
      background-size: cover
      position: relative
      float: left
      &:nth-child(2n)
        margin-left: 10px
      .checkbox
        width: ($check_w * 2 / 3)
        height: ($check_h * 2 / 3)
        position: absolute
        left: 3px
        top: 3px
  .templates
    overflow: hidden
    margin: 0 auto
    $w=71px
    width: $w * 2 + 10px
    height: 101 * 3 + 40px
    position: relative
    .item
      width: $w
      margin-top: 10px
      background-size: cover
      cursor: pointer
      float: left
      &:nth-child(2n)
        margin-left: 10px
  .next
    width: 100%
    position: absolute
    bottom: $headbar_height + $menu_height
    left: 0px
    padding-bottom: 5px
  .btn_blue, .btn_red
    margin: 0 auto
  .templates
    .item
      width: 71px
      height: 101px
      display: block
      margin-bottom: 6px

#main
  margin-top: $headbar_height + $menu_height
  margin-right: $toolbar_width + 5px
  transition: margin-right 0.5s
  position: relative
  .hide-toolbar &
    margin-right: 5px
  .item
    position: relative
    display: inline-block
    max-width: 100%
    padding: 0px
    border: none
    margin-top: 5px
    margin-left: 5px
    .title, .count
      position: absolute
      bottom: -16px
      font-size: 12px
      text-align: center
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .title
      bottom: -16px
      font-size: 12px
    .count
      bottom: -30px
      font-size: 10px
    .thumb
      background-size: cover
      background-position: center center
      position: absolute
    .selected
      position: absolute
      width: 100%
      height: 48px
      display: block
      background: rgba(255, 255, 255, .75)
      line-height: 48px
      font-size: 80%
      display: none
      span
        margin-left: 48px + 6px
    .checkbox
      position: absolute
      left: 5px
      top: 5px
      .type-album &
        top: (48px - $check_h) / 2
        left: 3px
    &.type-photo
      .thumb
        left: 0px
        top: 0px
      .title, .count
        display: none
    &.type-album
      margin-bottom: 30px
      .thumb
        left: -1px
        top: -1px
        border: 1px solid #404040
        border-radius: 6px
      .checkbox
        display: none
      .selected
        border-radius: 6px 6px 0px 0px
      .title, .count
        display: block
      &.hover
        .checkbox
          display: block
      &.active
        .selected, .checkbox
          display: block