@import 'nib'

#want_list
  $size=120px
  .tag
    position: relative
    width: 50%
    .photo
      width: $size - 10px
      height: $size - 10px
      overflow: hidden
      position: relative
      .wrap-img, img
        position: absolute
        width: 600px
        height: 600px
        top: 0
        left: 0
      .wrap-img
        margin-left: 50%
        margin-top: 50%
    .wrap
      position: absolute
      left: $size
      top: 0px
    &.active
      background: #00F