!!! 5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel="shortcut icon",href="./favicon.ico")
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.min.js')
    script(src='bower_components/jquery/jquery.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/snap.svg/dist/snap.svg-min.js')
    // build:js(app) scripts/modules.js
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='bower_components/ngapi/ngapi.min.js')
    script(src='bower_components/hello/src/hello.js')    
    
    script(src='scripts/app.js')

    // build:js(app) scripts/controller.js
    script(src='scripts/controllers/head.js')
    script(src='scripts/controllers/home.js')
    script(src='scripts/controllers/login.js')
    script(src='scripts/controllers/choose.js')
    script(src='scripts/controllers/want_group.js')
  body(ng-app="dont")
    
    button(onclick="hello( 'yahoo' ).login()") yahoo

    a(ui-sref="home") Home
    a(ui-sref="login") Login
    a(ui-sref="choose") choose
    a(ui-sref="want_group") Want_Group
    #head(ui-view="head")
    #main(ui-view="main")