html
  body
    #give_push.content
      div#updatepic
        p.h11 點選新增圖片
        input.mrleft(type="file",accept="image/*",ng-file-select,style="margin-top:-50%;width:50%;border:2px dotted #fff;background:#fff;opacity:.8")
        div(ng-show="uploader.queue.length",class="mrleft")
          div
            span.badge {{ uploader.queue.length }} files will update
            div
              a.btn.btn-white.btn-default(href="",ng-click="uploader.uploadAll()",ng-show="uploader.getNotUploadedItems().length",class="btn-gradient cyan large") upload
              a.btn.btn-white.btn-default(href="",ng-click="uploader.clearQueue()",class="btn-gradient red large") delete
      div(ng-click="addTag($event)",ng-class="openthis? 'thing':'disthing'")
        img.photo(src="{{mainPic}}",style="")
        .tag(ng-repeat="tag in tags",style="top:{{tag.y}}%;left:{{tag.x}}%") {{tag.name}} 
          img(src="/images/tagclose.png",style="float:left;width:40px")
      div
        img.finishtag(src="/images/finishtag.png",ng-class="clicktag?'openthis':'closethis'",ng-click="finishtag()")    
      div(style="position:absolute")
        img(style="float:left;position:absolute;",src="http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=640x480&sensor=false&key=AIzaSyAEwpiQ0Bxihw4luyQ-CwvBj0luSFiyHJQ&center=25.05735,121.61508&markers=color:blue%7Clabel:X%7C25.05735,121.61508")
        a(style="position:absolute;float:left;left:250px;top:250px;width:180px;text-align:center;height:50px;border:1px solid #777;border-radius:10px;background:#fff;opacity:.8;line-height:50px;cursor:pointer") 這是您的地標