html
  body
    #give_push.content
      .thing(ng-click="addTag($event)")
        img.photo(src="images/login_bg.jpg",border="0")
        .tag(ng-repeat="tag in tags",style="top:{{tag.y}}%;left:{{tag.x}}%")