html
  body
    #give_push.content
      div#updatepic(ng-hide="openthis")
        p.h11 點選新增圖片
        input.mrleft(type="file",accept="image/*",ng-file-select,style="margin-top:-50%;width:50%;border:2px dotted #fff;background:#fff;opacity:.8")
        div(ng-show="uploader.queue.length",class="mrleft")
          div
            span.badge {{ uploader.queue.length }} files will update
            div
              a.btn.btn-white.btn-default(href="",ng-click="uploader.uploadAll()",ng-show="uploader.getNotUploadedItems().length",class="btn-gradient cyan large") upload
              a.btn.btn-white.btn-default(href="",ng-click="uploader.clearQueue()",class="btn-gradient red large") delete
      div.thing(ng-click="addTag($event)",ng-show="openthis")
        img.photo(src="{{mainPic}}")
        .tag(ng-repeat="tag in tags",style="top:{{tag.y}}%;left:{{tag.x}}%")
          span {{tag.name}} 
          .remove(ng-click="removeTag($event, tag)")
      div.map
        img.finishtag(src="/images/finishtag.png",ng-show="tags.length",ng-click="finishtag()")    
        img(style="float:left;position:absolute;",src="http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=640x240&sensor=false&key=AIzaSyAEwpiQ0Bxihw4luyQ-CwvBj0luSFiyHJQ&center=25.05735,121.61508&markers=color:blue%7Clabel:X%7C25.05735,121.61508")