html
  body
    #head.head
      a(ui-sref="home") home
      a(ui-sref="login") login
      a(ui-sref="choose") choose
      a(ui-sref="want_group") want_group
      a(ui-sref="want_list") want_list
      a(ui-sref="want_detail") want_detail
      a(ui-sref="want_complete") want_complete
      a(ui-sref="give_push") give_push
      a(ui-sref="give_preview") give_preview
      a.break
        img(src="images/head_break.png")
      a.more
        img(src="images/head_more.png")