html
  body
    #login.content
      img.bg(src="images/login_bg.jpg",border="0")
      .box
        input(type="text", placeholder="Email" , ng-model="user")
        input(type="password", placeholder="Password" , ng-model="password")
        a(ng-api="(email:email||password:nospace)(restfullogin:/api/rest-auth/nonce||/api/rest-auth/login)" ,href="") 登入
        button.yahoo(type="submit")