html
  body
    #login.content
      img.bg(src="images/login_bg.png",border="0")
      .box
        input(type="text", placeholder="Email")
        input(type="password", placeholder="Password")
        img.button.dont(src="images/login_btn_dont.png")
        img.button.yahoo(src="images/login_btn_yahoo.png")