html
  body
    #login.content
      img.bg(src="images/login_bg.jpg",border="0")
      .box
        input(type="text", placeholder="Email")
        input(type="password", placeholder="Password")
        button.yahoo(type="submit")