html
  body
    #login.content
      img.bg(src="images/login_bg.png",border="0")
      .box
        input(type="text", placeholder="Email")
        input(type="password", placeholder="Password")
        button.dont(type="submit")
        button.yahoo(type="submit")