html
  body
    #login.content
      img.bg(src="images/login_bg.png",border="0")
      .box
        input.user(type="text", placeholder="Email",value="dont_throw")
        input.pasw(type="password", placeholder="Password",value="dont_throw")
        img(src="/images/login_btn_dont.png",style="margin-top:10px;width:70%;margin-left:15%;margin-bottom:10px",ng-click="href()") 
        img(src="/images/login_btn_yahoo.png",style="width:70%;margin-left:15%;",ng-click="href()") 
