html
  body
    #want_detail.content
      img(src="http://maps.googleapis.com/maps/api/staticmap?zoom=16&size=640x480&sensor=false&key=AIzaSyAEwpiQ0Bxihw4luyQ-CwvBj0luSFiyHJQ&center=25.05735,121.61508&markers=color:blue%7Clabel:X%7C25.05735,121.61508")