html
  body
    #want_group.content
      img.bg(src="./images/want_group_bg.png")
      .turntable(ng-class="'active-'+groupActive")
        img(src="./images/want_group_turntable.jpg")
        .group.group-a(ng-click="selectGroup('group-a')")
        .group.group-b(ng-click="selectGroup('group-b')")
        .group.group-c(ng-click="selectGroup('group-c')")
        .group.group-d(ng-click="selectGroup('group-d')")